expHost/Connected Services/expService/expService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/expService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/expService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Expense">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpenseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpenseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expense" nillable="true" type="tns:Expense" />
  <xs:complexType name="ArrayOfExpense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expense" nillable="true" type="tns:Expense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpense" nillable="true" type="tns:ArrayOfExpense" />
</xs:schema>